body{
    margin: 0px;
    padding: 10px;
    background-color: black;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    min-width: 400px;
}

.input{
     width: 200px;
     box-sizing: border-box;
     margin-top: 10px;
    /* background-color: aquamarine; */
     border-radius: 5px solid green;
   
    padding: 5px 10px;/* first value is Y-axis (padding top && bottom) econd value X-axis(padding right && left */


}

.btn{
    width: 100px;
    margin-top: 10px;
    background-color:#5f9341;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    padding: 5px ;
}

.ul{
    display: grid;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color:green;
    list-style-type: none;

    
}

.li{
    color: green;

}

.a{
    color: #5f9341;
}
