body {
  background-color: darkgreen;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid white;
  border-radius: 5px;
  height: 300px;
  width: 200px;
}
.btn {
  background-color: yellow;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}
.btn1 {
  background-color: yellow;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}
