body {
  background-color: darkgreen;
  padding: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  font-weight: bold;
  flex-wrap: wrap;  
}
.container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px solid white;
  border-radius: 5px;
  height: 300px;
  width: 200px;
}
.btn {
  background-color: yellow;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}
.btn1 {
  background-color: yellow;
  width: 150px;
  font-size: 15px;
  align-items: center;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  flex-wrap: wrap;
}

.app{
  margin-top: 20px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  /* padding-top: 30px; */
  border: 5px;
  border-radius: 5px;
  display: flex;
  /* padding-bottom: 5px; */
  background-color: lightcoral;
  gap: 20px;
  flex-wrap: wrap;
  height:30px ;


}

.ora{

  margin-top:20px ;
  width: 200px;
  flex-direction: column;
  /* padding-top: 5px; */
  border: 5px;
  align-items: center;
  border-radius: 5px;
  display: flex;
  /* padding-bottom: 5px; */
  background-color: lightsalmon;
  gap: 20px;
  padding: 0px;
  height: 30px;

}