body{
    background-color: darkgreen;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("casino.jpeg");
    background-size: auto;
    color: white;
    font-weight: bold;
   


}
.h1{
color: gold;
}
.btn{
    width: 150px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color:rgb(117, 2, 2);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
   
    
}
.btn1{
    width: 150px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color:rgb(117, 2, 2);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top:4px ;
   
}