body {
  background-color: black;
  text-align: center;
  color: aliceblue;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}
h2 {
  font-size: 50px;
  color: white;
  margin-top: 0;
  margin-bottom: 20px;
}
.b1,
.b2 {
  border: white;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
  width: 200px;
  background-color: brown;
}
