body{
    background-color: azure;
    padding: 0px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 200px;
    height: 100px;
    border:2px solid black;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(14, 138, 138);
    flex-wrap: wrap;
    font-weight: bolder;
    color: white;


}